<div class="container-fluid">
  <%= form_for @user, html: {class: 'form-horizontal'} do |u| %>
    <div class='form-group'>
      <%= label_tag('first_name', 'First name', class:'col-sm-2 control-label') %>
      <div class='col-sm-4'>
        <%= u.text_field(:first_name, class: 'form-control')%>
      </div>
    </div>
    <div class='form-group'>
      <%= label_tag('last_name', 'Last name', class:'col-sm-2 control-label') %>
      <div class='col-sm-4'>
        <%= u.text_field(:last_name, class: 'form-control')%>
      </div>
    </div>
    <div class='form-group'>
      <%= label_tag('email', 'Email', class:'col-sm-2 control-label') %>
      <div class='col-sm-4'>
        <%= u.text_field(:email, class: 'form-control')%>
      </div>
    </div>
    <div class='form-group'>
      <%= label_tag('RSVP', 'RSVP', class:'col-sm-2 control-label') %>
      <div class='col-sm-4'>
        <%= u.select('rsvp', options_for_select(['t','f'], @user.rsvp), {}, class: 'form-control input-lg') %>
      </div>
    </div>
    <div class='form-group'>
      <%= label_tag('Size', 'Size', class:'col-sm-2 control-label') %>
      <div class='col-sm-4'>
        <% @size_options = options_for_select([['Select Shirt Size',''],['Small','sm'],['Medium','md'],['Large','lg'],['X-Large','xl']], selected: '', disabled: '') %>
        <%= u.select('size', @size_options, {}, class: 'form-control input-lg') %>
      </div>
    </div>
    <%= button_tag('Submit', :class => 'btn btn-primary') %>
  <% end %>
</div>
