<div id='users-report' class='container-fluid'>
  <p id="notice"><%= notice %></p>

  <h1>All users</h1>

  <table class="table table-striped users text-left sortable table-hover" cellspacing=0 cellpadding = 0>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>RSVP</th>
        <th>Size</th>
        <th>Clicked</th>
        <th>Updated</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <% @users.each_with_index do |user, index| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.full_name %></td>
        <td><%= user.email %></td>
        <td><%= user.rsvp %></td>
        <td><%= user.shirt_size %></td>
        <td><%= user.clicked_invite %></td>
        <td><%= user.updated_at %></td>
        <td>
          <%= link_to edit_user_path(user) do %>
            <span class='glyphicon glyphicon-pencil'></span>
          <% end %>
        </td>
        <td>
          <%= link_to(user_path(user.id), method: :delete, data: { confirm: "Are you certain you want to delete #{user.full_name}" }) do %>
            <span class='glyphicon glyphicon-remove'></span>
          <% end %>
        </td>
      </tr>
    </tbody>
    <% end %>
  </table>
  <div>Attending: <%= @users.where(rsvp: 'y').count %></div>
</div>
