<div class="row">
  <div class="col-lg-8 col-lg-offset-2 col-sm-10 col-sm-offset-1">
    <div id="pictures-carousel" class="owl-carousel owl-theme">
      <div class="item"><%= image_tag 'pictures/carousel_hero_1.jpg' %></div>
      <div class="item"><%= image_tag 'pictures/carousel_hero_2.jpg' %></div>
      <div class="item"><%= image_tag 'pictures/carousel_hero_3.jpg' %></div>
      <div class="item"><%= image_tag 'pictures/carousel_hero_4.jpg' %></div>
      <div class="item"><%= image_tag 'pictures/carousel_hero_5.jpg' %></div>
      <div class="item"><%= image_tag 'pictures/carousel_hero_6.jpg' %></div>
      <div class="item"><%= image_tag 'pictures/carousel_hero_7.jpg' %></div>
      <div class="item"><%= image_tag 'pictures/carousel_hero_8.jpg' %></div>
      <div class="item"><%= image_tag 'pictures/carousel_hero_9.jpg' %></div>
      <div class="item"><%= image_tag 'pictures/carousel_hero_10.jpg' %></div>
      <div class="item"><%= image_tag 'pictures/carousel_hero_11.jpg' %></div>
      <div class="item"><%= image_tag 'pictures/carousel_hero_12.jpg' %></div>
      <div class="item"><%= image_tag 'pictures/carousel_hero_13.jpg' %></div>
      <div class="item"><%= image_tag 'pictures/carousel_hero_14.jpg' %></div>
      <div class="item"><%= image_tag 'pictures/carousel_hero_15.jpg' %></div>
      <div class="item"><%= image_tag 'pictures/carousel_hero_16.jpg' %></div>
      <div class="item"><%= image_tag 'pictures/carousel_hero_17.jpg' %></div>
      <div class="item"><%= image_tag 'pictures/carousel_hero_18.jpg' %></div>
      <div class="item"><%= image_tag 'pictures/carousel_hero_19.jpg' %></div>
      <div class="item"><%= image_tag 'pictures/carousel_hero_20.jpg' %></div>
      <div class="item"><%= image_tag 'pictures/carousel_hero_21.jpg' %></div>
    </div>
  </div>
</div>