<!DOCTYPE html>
<html>
<head>
  <title>Teknobarn</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag params[:controller], 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'about' if params[:action] == 'about' %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render partial: "shared/flash_messages", flash: flash %>

<%= yield %>

</body>
</html>
